<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
		<script type="text/javascript">
			function setModifiedDate() {
			  if (document.getElementById('last-modified')) {
				fetch("https://api.github.com/repos/{{ site.github.owner_name }}/{{ site.github.repository_name }}/commits?path={{ page.path }}")
				  .then((response) => {
					return response.json();
				  })
				  .then((commits) => {
					var modified = commits[0]['commit']['committer']['date'];
					console.log(modified);
					document.getElementById('last-modified').textContent = "Last Modified: " + Date.parse(modified).toTimeString();
				  });
			  }
			}
		  </script>
	</head>
	<body onload="setModifiedDate();">
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<!-- <li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li> -->
    		</ul>
		</nav>
		<div class="container">

            {{content}}
    		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:ndhuy01@gmail.com">email</a></li>
        		<li><a href="https://github.com/huynd2001">github</a></li>
                <li><a href="/resume.pdf">resume</a></li>
			</ul>
			<p id="last-modified"></p>
		</footer>
	</body>
</html>